@using DeaconCCGManagement.Helpers
@using DeaconCCGManagement.Models

@{
    ViewBag.Title = "Delete Permission Denied";
}

@Html.Partial("_Breadcrumbs", "Delete Prayer Request Denied")

<h2>@ViewBag.Title</h2>

<div class="alert alert-warning">
    <p>
        Sorry, only the deacon who made this prayer request
        or an administrator is allowed to delete it.
    </p>
</div>


@Html.Partial("_BackToListLink")

@section scripts{
    @Scripts.Render("~/Scripts/App/GetBackToListUrl.js")
}
