body {
    padding-top: 50px;
    padding-bottom: 10px;

    /*This line keeps the background image from scrolling!!!*/
    background: center fixed;
    background-image: url('../Content/Images/Blue Crucifix.jpg');
    background-size: 100%;

    /*This is a drop shadow on the text and the text color and size*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 1.60em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap grid details
    xs: <  768px
    sm: >= 768px
    md: >= 992px
    lg: >= 1200px
*/

/*Only applies at 768px or less*/
@media (max-width: 768px) {
    .padding-top-10-xs {
        padding-top: 10px;
    }
    .padding-top-5-xs {
        padding-top: 5px;
    }
}

 .padding-top-10 {
        padding-top: 10px;
    }

.jumbotron {
    background-color: transparent;
    color: white;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #008080;
}

.navbar {
	background-image: linear-gradient(bottom, #228b22 10%, #008b8b 100%);
	background-image: -o-linear-gradient(bottom, #228b22 10%, #008b8b 100%);
	background-image: -moz-linear-gradient(bottom, #228b22 10%, #008b8b 100%);
	background-image: -webkit-linear-gradient(bottom, #228b22 10%, #008b8b 100%);
	background-image: -ms-linear-gradient(bottom, #228b22 10%, #008b8b 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    border: none;
}

.a:focus,
.btn:focus,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:focus {
    outline: none;
}

.navbar-brand {
    padding-top: 20px;
}

.btn {
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-color: white;
	background-image: linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -o-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -moz-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -webkit-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -ms-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
    color: white;
    text-decoration: none;
    margin: 15px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    vert-align: bottom;
}

.btn:hover {
    color: gray;
}

.btn:active {
   background-color: #008080;
    border: none; 
}


.td {
    border-top-color: white;
}

.table th {
	background-image: linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -o-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -moz-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -webkit-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
	background-image: -ms-linear-gradient(bottom, #228b22 40%, #008b8b 100%);
    border: 1px solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.indexBoxes {
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: white;
    padding: 0 20px;
}




/*
    Applied to multiple buttons in a list that will 
    invoke a modal dialog via jQuery.
*/
.openDialog {
    
}

/*Buttons that look like links are not left aligned.*/
.btn-link {
    padding: 0 0 0 0;
}