@using DeaconCCGManagement.ViewModels
@model CreateButtonViewModel

@{
    // If null use the deafult action name "Create"
    string actionName = string.IsNullOrEmpty(Model.ActionName) ? "Create" : Model.ActionName;
}

@using (@Html.BeginForm(actionName, Model.ControllerName, FormMethod.Get))
{

    if (Model.MemberId != null)
    {
        @Html.Hidden("id", Model.MemberId)
    }

    <button class="btn btn-success" type="submit">
        Create <span class="fa fa-plus-circle"></span>
    </button>
}
