<a id="notify-link" href="#">
    <div class="notify-bell-base">
        <span id="notify-bell" class="glyphicon glyphicon-bell notify-inactive"></span>
        <span id="notify-count" class="badge notify-badge"></span>&nbsp;
    </div>
</a>
